<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>

    <h1 th:text="'List of Owners'"> Index Page</h1>

    <table id="vets" class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Id</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
        </tr>
        </thead>
        <tbody>
            <!--/*@thymesVar id="owner" type="com.bowen.sfgpetclinic.model.Owner"*/-->
            <tr th:each="owner : ${owners}">
                <td th:text="${owner.id}">1</td>
                <td th:text="${owner.firstName}">Joe</td>
                <td th:text="${owner.lastName}">Buck</td>

            </tr>
        </tbody>
    </table>
</body>
</html>