<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>Vets</title>
</head>
<body>

    <h1 th:text="'List of Vets'"> Index Page</h1>

    <table id="vets" class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>


        <!--/*@thymesVar id="vets" type="com.bowen.sfgpetclinic.model.Vet"*/-->
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">Joe</td>
            <td th:text="${vet.lastName}">Buck</td>

        </tr>
        </tbody>
    </table>
</body>
</html>